*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    font-size: 100%;
}
body{
    
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden ;
}
#hero{
    position: relative;
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#hero::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
    
        width: 100%;
        height: 100%;
        background-image: url(image/background.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        filter: 40%;

}
#hero_content{
    position: absolute;

}
#hero_content h1{
    color: #fff;
    font-size: 2.8rem;
    text-shadow: 2px 2px 2px #000;
}
#hero_content h2{
    color: #fff;
    font-size: 2rem;
    font-family: cursive;
    margin-top: 1rem;
    margin-bottom: 4rem;
    text-shadow: 2px 2px 2px #000;
}
#hero_content a{
    color: fff;
    padding: 3px 20px 3px 20px;
    border: 1px solid orange;
    background: rgb(0,0,0,0.6);
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 25px;

}
#hero_content a:hover{
    background: navy;

}



#header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    line-height: 70px;
}
#navbar{
    display: flex;
     justify-content: space-around;
     background: rgb(0,0,0,0.5);
}
#navbar h1{
    color: orange;
    font-size: 1.8rem ;
    text-shadow: 2px 2px 2px #000;
    font-family: cursive;
    display: flex;
   

}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    padding: 3px 15px 3px 15px;

}
#navbar ul li:hover,#phone a:hover ,#mobile_menu ul li:hover{
    background: navy;
    cursor: pointer;

}
#navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;

}
#phone a{
     text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    padding: 3px 15px 3px 15px ;
   
    border: 1px solid orange ;
}

#mobile_menu{
    display: none;
    height: 40px;
    line-height: 40px;
    background: magenta;
}
#mobile_menu ul{
    display: flex;
    justify-content: center;

}
#mobile_menu ul li{
    list-style: none;
    padding: 0 5px 0 5x;
}
#mobile_menu ul li a{
    text-decoration: none;
    color: #fff;

}

@media screen and (max-width: 768px){
    #mobile_menu{
        display: block;
    }
    #navbar ul{
        display: none;
    }
    html{
       font-size: 95%;
    }
    #menu_row{
        flex-wrap: wrap;
        padding: 0 10px 0 10px;
    }   
}
@media screen and (max-width: 360px){
    html{
        font-size: 70%;
    }
}


/* menu */

#menu{
    padding: 25px 0 25px 0;
}
#section{
   padding: 25px 0 25px 0;
   text-align: center;
   font-size: 2rem;
   font-family: verdana;
}
#menu-row{
    display: flex;
    padding: 0 100px 0 100px;
}
#menu_col{
    box-shadow: 2px 2px 2px #bbb;
    border: 1px solid #bbb;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    flex: 1;

}
#menu_col h2{
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-family: cursive;
    
}
#image{
    width: 150px;
    height: 150px;
    padding: 5px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid orange;
}
#image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;

}